ion-content {
   background: 
}
h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}
p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}
