ion-content {
   background: linear-gradient(to bottom,#cc2b5e, #753a88);
}
h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}
p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}